@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=Rubik+Iso&family=Tilt+Warp&display=swap');    


#hr {
    /* position: sticky; */
    top: 60px;
}

.h1 {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    background-color: white;

}

.im1 {
    height: 44px;
    width: 82px;
    margin-top: 8px;
}

.he1 {
    float: left;
    font-family: 'Rajdhani', sans-serif;
}

body {
    margin: 0;
}

.he-11 {
    border-left: 2px solid black;
    height: 43px;
    position: absolute;
    left: 1038px;
    margin-top: 10px;
}

.a1 {
    text-decoration: none;
    color: black;
}

.h2 {
    height: 600px;
    margin-top: 0;
    position: relative;
    border-bottom: 4px red solid;
}

.h2-1 {
    align-items: center;
    margin-top: 223px;
    margin-left: 139px;


}

.d1 {
    position: absolute;

}

.d1-1 {
    height: 100%;
    width: 100%;
}

.d1-2 {
    left: 50%;
    height: 100%;
    width: 100px;
}

.m2 {
    height: 600px;
    width: 609px;
    margin-left: 24px;

}

.l1 {
    font-size: 66px;
}

.p1 {
    font-size: 22px;
    font-family: 'Rajdhani', sans-serif;
}

#button1 {
    background-color: red;
    color: aliceblue;
    height: 47px;
    width: 231px;
    font-size: 20px;

}

#button1:hover {
    background-color: aliceblue;
    color: rgb(144, 58, 58);
}

.h3 {
    height: 1600px;
    background-image: url(./images/Crossing_overlay.jpeg);
    position: relative;
    margin-top: 0;

}

.d2 {
    height: 700px;
    position: absolute;
    transition: 1s ease-in-out;
}
.d2:hover{
    transform: scale(1.05);
}

.l2 {
    color: white;
    font-size: 50px;
    margin-top: 55px;
    margin-left: 45px;
}

.d2-1 {
    height: 525px;
    width: 1306px;
    margin-top: 132px;
    margin-left: 75px;
    background-color: rgba(240, 255, 255, 0.403);

}

.d2-1_1 {
    height: 200px;
    width: 50%;
}

.m3 {
    height: 525px;
    width: 855px;
    border-right: red 4px solid;
}

.d2-1_2 {
    margin-left: 859px;
    margin-top: -198px;
    height: 523px;
    width: 450px;
    background-color: aliceblue;
}

.p2 {
    margin-top: -166px;
    margin-left: 30px;
    font-family: 'Rajdhani', sans-serif;
}

.p4 {
    margin-top: 42px;
    margin-left: 20px;
    font-size: 22px;
    font-family: 'Rajdhani', sans-serif;
}

#i1 {
    margin-top: 52px;
    margin-left: 420px;
    color: red;
}

.l3 {
    font-size: 30px;
    margin-top: 49px;
    margin-left: 32px;
}

.p3 {
    margin-top: -19px;
    margin-left: 34px;
    font-family: 'Rajdhani', sans-serif;
}

#i2 {
    font-size: 20px;
    color: red;
}

#i3 {
    margin-top: 135px;
    margin-left: 10px;
}

.d2-2 {
    height: 730px;
    width: 400px;
    background-color: white;
    top: 703px;
    left: 73px;

}
.m4{
    height: 270px;
    width: 400px;
    border-bottom: red 4px solid;
}
#i4{
    margin-top: 7px;
    margin-left: 166px;
    color: red;
}
#i5{
    font-size: 13px;
    color: red;
}
.p5{
    margin-left: 3px;
    font-family: 'Rajdhani', sans-serif;
}
.p6{
    margin-left: 7px;
    margin-top: 2px;
    margin-right: 2px;
    font-size: 22px;
    font-family: 'Rajdhani', sans-serif;
}
.l4{
    font-size: 23px;
    margin-top: 23px;
    margin-left: 4px;
}

.d2-3 {
    height: 730px;
    width: 400px;
    background-color: white;
    top: 703px;
    left: 526px;

}
.p7{
    margin-left: 3px;
    font-family: 'Rajdhani', sans-serif;
}
#i6{
    margin-left: 220px;
    font-size: 16px;
    color: red;
}
.l5{
    margin-top: 2px;
    margin-left: 7px;
    font-size: 22px;
}
.p8{
    margin-left: 10px;
    margin-top: 44px;
    margin-right: 2px;
    font-size: 22px;
    font-family: 'Rajdhani', sans-serif;
}

.d2-4 {
    height: 730px;
    width: 400px;
    background-color: white;
    top: 703px;
    left: 982px;

}
.p9{
    margin-top: 16px;
    margin-left: 3px;
    font-family: 'Rajdhani', sans-serif;
}
#i7{
    margin-top: 6px;
    font-size: 16px;
    color: red;
    margin-left: 130px;
}
.l6{
    margin-top: 2px;
    margin-left: 7px;
    font-size: 22px;
}
#i8{
    font-size: 13px;
    color: red;
}
.p10{
    margin-left: 10px;
    margin-top: 44px;
    margin-right: 2px;
    font-size: 22px;
    font-family: 'Rajdhani', sans-serif;
}
.h4{
    height: 350px;
    width: auto;
}
.l7{
    text-align: center;
    font-size: 93px;
    font-family: 'Tilt Warp', cursive;
}
.image{
    height: 200px;
    width: 1425px;
}
.m5{
    width: 1425px;
}
.s1{
    text-align: center;
    color: red;
    font-family: 'Rubik Iso', cursive;
}
.h5{
    height: 150px;
    background-color: rgb(96, 4, 4) ;
    position: relative;
}
.l9{ 
    position: absolute;
    margin-top: 56px;
    margin-left: 40px;
    text-align: center;
    color: white;
}
.button1{
    margin-top: 70px;
    margin-left: 1210px;
    height: 52px;
    width: 170px;
}
.h6{
    height: 500px;
    position: relative;
    background-color: blanchedalmond;
    margin-top: -9px;

}

.heading{
    height: 150px;
    color: brown;
    text-align: center;
    font-size: 40px;
}
.l10{
    margin-top: 10px;
}
.h6-1{
    position: absolute;
    background-color: white;
    height: 300px;
    width: 270px;
    transition: 1s ease-in-out;
}
.h6-1:hover{
    transform: scale(1.06);
}
.box-1{
    margin-top: 20px;
    margin-left: 40px;

}
.box-2{
    margin-top: 20px;
    margin-left: 407px;

}
.box-3{
    margin-top: 20px;
    margin-left: 765px;

}
.box-4{
    margin-top: 20px;
    margin-left: 1113px;

}
.on{
    font-size: 30px;
    margin-top: 29px;
    margin-left: 10px;
}
.it{
    font-size: 24px;
    margin-top: 29px;
    margin-left: 10px;
}
.RT{
    font-size: 24px;
    margin-top: 29px;
    margin-left: 10px;
}
.voda{
    font-size: 24px;
    margin-top: 29px;
    margin-left: 10px;
}
.footer{
    height: 600px;
    background-color:  rgb(36, 36, 36);
    justify-content: space-evenly;
    align-items: center;
}
.icon{
    display: flex;
    height: 70px;
    width: 300px;
    color: white;
    font-size: 34px;
    flex-direction: row;
    justify-content: space-evenly;
}
.foo2{
    height: 300px;
    justify-content: space-evenly;
    
}
.fo2{
    height: 300px;
    width: 200px;
    color: lightgray;
}
.inve{
    margin-left: 81px;
    text-align: center;
}
.or{
    margin-top: -319px;
    margin-left: 390px;
    text-align: center;
}
.sup{
    margin-top: -319px;
    margin-left: 724px;
    text-align: center;
}
.car{
    margin-top: -319px;
    margin-left: 1040px;
    text-align: center;
}
.fo3{
    height: 20px;
    justify-content: space-evenly;
    align-items: center;
    color: lightgray;
}
.site{
    margin-left: 10px;
}
.lin1{
    margin-top: -40px;
    margin-left: 92px;
}
.terms{
    margin-top: -36px;
    margin-left: 103px;
}
.lin2{
    margin-top: -41px;
    margin-left: 283px;
}
.privacy{
    margin-top: -36px;
    margin-left: 300px;
}
.lin3{
    margin-top: -41px;
    margin-left: 467px;
}
.acce{
    margin-top: -36px;
    margin-left: 479px;
}
.lin4{
    margin-top: -41px;
    margin-left: 586px;
}
.resport{
    margin-top: -36px;
    margin-left: 600px;
}
.lin5{
    margin-top: -41px;
    margin-left: 792px;
}
.us{
    margin-top: -36px;
    margin-left: 806px;
}
.f04{
    margin-top: -38px;
    margin-left: 1210px;
}
.foo4{
    color: lightgray;
    font-size: 12px;
    margin-left: 15px;
}
.read{
    color: lightgray;
    text-decoration: none;
}